extends layout

block content
    div(id='messageContainer', class='', style="margin-top:25px")
        a(href="#", class="scrollup") Load More
    
        h1=forum
        ul(class="pages", id="messages")
        form(class="inputMessageContainer")
            div
                span(class="inputMessage", id="m", contenteditable="true")
            button(class="btn btn-default") send

            script(src="https://code.jquery.com/jquery-1.10.2.min.js")
            script(src="/socket.io/socket.io.js")
            script(src="#{url}/public/main.js")